:root {
    --color-primary: #eebc73;
    --color-secondary: #FFF9EB;
    --color-tertiary: #eebc74;
    --color-button: #d97356;
    --color-button-hover: #e55720;
    --color-text: #81524f;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    background-image: url("./assets/amigo-banner2.png");
    background-size: 800px;
    background-repeat: no-repeat; 
    background-position: center;
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #d97356;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper__adicionar, .input-wrapper__remover {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #d97356;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex;
    gap: 10px; 
    align-items: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    border: 2px solid #d97356;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #fbb451;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #080808;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw , .button-list{
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img , .button-list img {
    margin-right: 40px;
}

.button-draw:hover , .button-list:hover {
    background-color: var(--color-button-hover);
}


/* Responsividade */
@media (max-width: 768px) {
.header-banner {
    background-image: url("./assets/amigo-banner2.png");
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    margin-right: 15%;
    flex: 40%;
} 
    .main-title {
        font-size: 3rem;
        display: flex;
        margin-left: 2rem;
        
    }
    .section-title {
        font-size: 1.5rem;
    }
    .input-wrapper__adicionar, .input-wrapper__remover {
        width: 100%;
        align-items: center;
    }
    .input-name {
        width: 100%;
    }
    .button-add {
        border-radius: 25px;
    }
    .input-section {
        padding: 5px;
        border-radius: 40px 40px 0 0;
    }

    
    .button-container {
        
        gap: 5px;
    }
    
    .button-draw, .button-list {
        font-size: .9rem;
        padding: .7rem 1.5rem;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .header-banner {
        background-image: url("./assets/amigo-banner-mobile.png");
        background-size:cover;
        background-repeat: no-repeat; 
        background-position: center;
        margin-left: 15%;
        border-color: green;
        border-style: double;
    } 
    
    .input-wrapper__adicionar, .input-wrapper__remover {
        width: 100%;
        align-items: center;
    }
    .input-name {
        width: 100%;
    }
    .button-add {
        border-radius: 25px;
    }

    .button-container {
        gap: 5px;
        
    }
    .button-draw, .button-list {
        font-size: .9rem;
        padding: .5rem 1.5rem;
        width: 100%;
        justify-content: center;
    }
}
